:host {
    grid-area: content;
    display: grid;
    grid-template:
        "sort-filter" 95px
        "cards      " 1fr
        "pagination " auto
        / auto;
    row-gap: 20px;
    justify-items: center;
    padding: 10px 0;

    .sort-filter {
        width: 100%;
    }

    .cards-wrapper {
        display: grid;
        grid: auto-flow / repeat(4, 1fr);
        gap: 20px;
    }
}
