<div class="overlay"></div>
<div class="wrapper" [ngClass]="{'dark-theme': theme === 'dark-theme', 'light-theme': theme === 'light-theme'}">
    <div class="content">
        <div class="title">Відновлення паролю</div>
        <input type="text" placeholder="Email або логін">
        <button class="btnRestore" type="button" (click)="restore()">Відновити</button>
    </div>
    <button class="btnClose" (click)="close()">
        <fa-icon class="fa-lg" [icon]="faXmark"></fa-icon>
    </button>
</div>