:host {
    display: flex;
    padding: 20px 0 0 20px;
    background-color: var(--primary-color);
    color: var(--primary-text-color);

    .photo-wrapper {
        width: 300px;
        height: 300px;
        padding: 20px;
        background-color: var(--foreground-color);
        border-radius: var(--border-radius);

        .photo {
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius);
        }
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .name {
            font-size: 36px;
            font-weight: bold;
            margin: 0 0 0 20px;
        }

        .info {
            font-size: 16px;
            font-weight: bold;
            margin: 10px 0 0 20px;
        }

        .contacts {
            display: flex;
            padding: 20px;
            column-gap: 20px;
            border-top-right-radius: var(--border-radius);
            background-color: var(--foreground-color);
            color: var(--secondary-text-color);

            .contact {
                display: flex;
                flex-direction: column;
                align-items: center;

                .icon {
                    margin-bottom: 5px;
                }

                .content {
                    margin: 0;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
    }
}
