<app-button
    class="close-button"
    iconId="close"
    color="gray"
    [small]="true"
    (buttonClick)="closeClick()"
></app-button>

<div class="content">
    <p class="title">Вхід</p>

    <app-input class="input" [placeholder]="'Email або Логін'"></app-input>

    <app-input
        class="input"
        [placeholder]="'Пароль'"
        [innerLinkText]="'Забули пароль?'"
        (innerLinkClick)="forgotPasswordClick()"
    ></app-input>

    <app-button
        class="log-in-button"
        text="Вхід"
        (buttonClick)="logInClick()"
    ></app-button>
</div>
