:host {
    display: block;
    position: relative;
    width: 400px;
    padding: 20px;
    border-radius: var(--border-radius);
    background-color: var(--foreground-color);
    user-select: none;

    .close-button {
        position: absolute;
        top: -12px;
        right: -12px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--foreground-2-color);
        color: var(--secondary-text-color);
        transform-origin: top right;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .title {
            color: var(--secondary-text-color);
            font-size: 24px;
            font-weight: bold;
            margin: 0 0 20px 0;
        }

        .input {
            margin-bottom: 10px;
            border-radius: var(--border-radius);
        }

        .log-in-button {
            width: 100%;
        }
    }
}
