.overlay {
    position: fixed; /* Positioning and size */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    background-color: rgba(128,128,128,0.6); /* color */
    // display: none; /* making it hidden by default */
    pointer-events: none;
  }
.wrapper {
    position: absolute;
    width: 335px;
    height: 300px;
    top: 34%;
    right: calc(50% - 167px);
    z-index: 4;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    &.light-theme {
        background-color: #fff;
        color: #000;
        .content {
            input {
                background-color: #F1F1F1;
            }
            button {
                color: #fff;
            }
        }
        .btnClose {
            background-color: #F1F1F1;;
            color: #545454;
        }
    }
    &.dark-theme {
        background-color: #282C34;
        color: #ABB2BF;
        .content {
            input {
                background-color: #3E4452;
            }
            button {
                color: #ABB2BF;
            }
        }
        .btnClose {
            background-color: #3E4452;
            color: #ABB2BF;
        }
    }
    .content {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .title {
            font-weight: bold;
            font-size: 30px;
        }

        input {
            background-color: #F1F1F1;
            border-width: 0;
            border-radius: 10px;
            height: 35px;
            width: 90%;
            padding-left: 15px;
        }

        button {
            width: 95%;
            border-width: 0;
            border-radius: 10px;
            height: 40px;
            color: #fff;
            &.btnSignIn {
                background-color: #002561;
            }
            &.btnRegister {
                background-color: #002561;
            }
        }
    }
    .btnClose {
        position: absolute;
        right: -12px;
        top: -10px;
        width: 24px;
        height: 24px;
        background-color: #F1F1F1;;
        border-radius: 50%;
        border: 1px solid black;
        color: #545454;
    }
}