header {
    background: #002561;
    color: white;
    ul {
        height: 70px;
        margin: 0;
        padding: 0 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        vertical-align: middle;

        li:first-child {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 5vmin;
            cursor: pointer;
        }

        button {
            background-color:  #002561;
            width: 142px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            border: 0px transparent;
            border-radius: 10px;
            color: #fff;
            box-shadow: 0 0 5px 1px #fff;
        }

        app-log-in, app-register, app-forgot-password, app-change-password {
            display: contents;
            position: relative; /* positioning in center of page */
            top: 50vh;
            left: 50vw;
            transform: translate(-50%,-50%);
            height: 400px; /* size */
            width: 600px;
            background-color: white; /* background color */
            pointer-events: all;
        }
    }
}