:host {
    padding: 10px 0;

    .wrapper {
        height: 100%;
        display: grid;
        grid-template:
            "header " 200px
            "content" calc(100% - 220px)
            / auto;
        border-radius: var(--border-radius);
        background-color: var(--foreground-2-color);
        overflow: hidden;
        gap: 20px;

        .header {
            grid-area: header;
        }

        .content {
            grid-area: content;
            display: grid;
            grid-template:
                "subjects bio publications" 1fr
                / 300px 1fr 1fr;
            align-items: end;
            gap: 20px;
            padding: 0 20px 20px;

            .subjects-interests {
                grid-area: subjects;
                height: calc(100% - 120px);
            }

            .bio {
                grid-area: bio;
                height: 100%;
            }

            .publications {
                grid-area: publications;
                height: 100%;
            }
        }
    }
}
