@import "src/assets/mixins.scss";

:host {
    position: relative;
    user-select: none;
    color: var(--secondary-text-color);
    overflow: hidden;

    .main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 15px;
        overflow: hidden;
        cursor: pointer;
        background-color: var(--foreground-color);

        @include hover;
        @include active;

        .placeholder {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 10px;
        }
    }

    .dropdown-list {
        position: absolute;
        top: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: var(--foreground-color);
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        box-shadow: 0 4px 5px #00000040;

        .dropdown-item {
            width: 100%;
        }
    }
}
