<div class="wrapper" [ngClass]="{'dark-theme': theme === 'dark-theme', 'light-theme': theme === 'light-theme'}">
    <div class="img-wrapper">
    </div>
    <img [src]="img" alt="1000-7">
    <div class="content">
        <div>{{pib}}</div>
        <div>
            <fa-icon [icon]="faMarsAndVenus"></fa-icon>
            <span>{{sex}}</span>
        </div>
        <div>
            <fa-icon [icon]="faCakeCandles"></fa-icon>
            <span>{{age}}</span>
        </div>
        <div>
            <fa-icon [icon]="faPhone"></fa-icon>
            <span>{{phoneNumber}}</span>
        </div>
        <div class="btn-wrapper">
            <button
                routerLink="/details"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                (click)="openDetails()"
            >
                Деталі
            </button>
            <button
                *ngIf="role==='admin'"
                (click)="openEdit()"
            >
                <fa-icon [icon]="faPencil"></fa-icon>
            </button>
            <button
                *ngIf="role==='admin'"
                (click)="delete()"    
            >
                <fa-icon [icon]="faTrashCan"></fa-icon>
            </button>
        </div>
    </div>
</div>