.wrapper {
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 180px);
    &.light-theme {
        background-color: #fff;
    }
    &.dark-theme {
        background-color: #21252B;
    }
    
    .user-cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;
    }
    & > div {
        min-height: calc(100% - 140px);
    }
}