<div class="wrapper" [ngClass]="{'dark-theme': theme === 'dark-theme', 'light-theme': theme === 'light-theme'}">
    <app-sort-filter [theme]="theme"></app-sort-filter>
    <div class="user-cards">
        <app-user-card
            *ngFor="let user of users"
            [pib]="user.pib"
            [sex]="user.sex"
            [age]="user.age"
            [phoneNumber]="user.phoneNumber"
            [role]="user.role"
            [img]="user.img"
            [theme]="theme"
        ></app-user-card>
    </div>
    <app-pagination [theme]="theme"></app-pagination>
</div>