<app-button
    class="close-button"
    iconId="close"
    color="gray"
    [small]="true"
    (buttonClick)="closeClick()"
></app-button>

<div class="content">
    <p class="title">Зміна паролю</p>

    <app-input class="input" [placeholder]="'Старий пароль'"></app-input>

    <app-input class="input" [placeholder]="'Новий пароль'"></app-input>

    <app-input
        class="input"
        [placeholder]="'Повторно введіть новий пароль'"
    ></app-input>

    <app-button
        class="change-button"
        text="Змінити"
        (buttonClick)="changeClick()"
    ></app-button>
</div>
