<div class="overlay"></div>
<div class="wrapper" [ngClass]="{'dark-theme': theme === 'dark-theme', 'light-theme': theme === 'light-theme'}">
    <div class="content">
        <div class="title">Зміна паролю</div>
        <input type="text" placeholder="Старий пароль">
        <input type="text" placeholder="Новий пароль">
        <input type="text" placeholder="Повторно введіть новий пароль">
        <button class="btnChange" type="button" (click)="change()">Відновити</button>
    </div>
    <button class="btnClose" (click)="close()">
        <fa-icon class="fa-lg" [icon]="faXmark"></fa-icon>
    </button>
</div>