:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-color);
    min-height: 100vh;

    .header {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        background: var(--primary-color);
        color: var(--primary-text-color);
        box-shadow: 0 4px 5px #00000040;

        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1450px;

            .title {
                margin: 0;
                font-size: 48px;
                font-weight: bold;
            }

            .log-in-button {
                width: 140px;
            }
        }
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        box-shadow: 0 -4px 5px #00000040;
        background-color: var(--foreground-color);

        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            width: 1450px;
            color: var(--secondary-text-color);

            .footer-title,
            .footer-subtext {
                margin: 0;
                font-weight: bold;
            }

            .footer-title {
                font-size: 32px;
            }

            .footer-subtext {
                font-size: 14px;
            }
        }
    }
}
