<div class="wrapper" [ngClass]="{'dark-theme': theme === 'dark-theme', 'light-theme': theme === 'light-theme'}">
    <div class="content">
        <div class="name">Прізвище Ім'я По-Батькові</div>
        <div class="degree">Науковий ступінь</div>
        <div class="user-info">
            <div class="img-container">
                <img class="user-image" src="https://i1.sndcdn.com/avatars-000620693316-ukl0j7-t500x500.jpg"/>
            </div>
            <div class="contacts">
                <div class="phone-container">
                    <fa-icon [icon]="faPhone" class="fa-2x"></fa-icon>
                    <div>+380(XX)XXX-XX-XX</div>
                </div>
                <div class="email-container">
                    <fa-icon [icon]="faEnvelope" class="fa-2x"></fa-icon>
                    <div>example@gmail.com</div>
                </div>
            </div>
        </div>
        <div class="other-info">
            <div class="side-menu">
                <div class="menu-subjects">
                    <fa-icon [icon]="faBook" class="fa-2x"></fa-icon>
                    <div class="subjects-title">Предмети</div>
                    <ul>
                        <li>Предмет 1</li>
                        <li>Предмет 2</li>
                        <li>Предмет 3</li>
                    </ul>
                </div>
                <hr />
                <div class="menu-interests">
                    <div class="interests-title">Наукові інтереси</div>
                    <ul>
                        <li>Інтерес 1</li>
                        <li>Інтерес 2</li>
                        <li>Інтерес 3</li>
                    </ul>
                    <fa-icon [icon]="faMicroscope" class="fa-2x"></fa-icon>
                </div>
            </div>
            <div class="other-info-text-container">
                <div class="other-info-text">
                    <div class="biography">
                        <fa-icon [icon]="faBook" class="fa-2x"></fa-icon>
                        <div class="biography-title">Біографія</div>
                        <div class="biography-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nesciunt fugit at fugiat maiores iste modi veniam. Dignissimos reiciendis facere excepturi veniam tempora voluptatem ratione, distinctio perferendis, quia debitis quidem, culpa corporis officia accusantium eaque sunt maiores velit porro fugiat cupiditate sint neque exercitationem doloremque inventore!

            Delectus assumenda praesentium atque quidem minima dolor necessitatibus quas magni pariatur reiciendis, repellat deserunt soluta totam modi amet. Similique illum amet incidunt accusantium. Laboriosam necessitatibus consequuntur accusantium recusandae neque, ea, debitis eligendi dolor optio illum alias voluptatibus temporibus fugit, doloremque numquam quidem? Error temporibus labore ad molestias corrupti, corporis quidem veniam ducimus animi minima id esse odio molestiae officia tempore, quos commodi pariatur saepe ab eos ipsam nemo dolores. 

            Repellat vero quis veritatis, laudantium aliquam adipisci laboriosam necessitatibus, tempore consectetur! Facilis consectetur veritatis fugiat praesentium nobis optio beatae, enim voluptatibus ullam debitis obcaecati nemo vel hic sunt nulla est error labore eius. In officiis nobis, fuga dolor possimus ratione commodi earum. Soluta aspernatur rem inventore alias vitae quibusdam sapiente hic. Aperiam, reiciendis accusamus. Eos distinctio voluptatem minus repudiandae.</div>
                    </div>
                    <div class="publications">
                        <fa-icon [icon]="faChalkboard" class="fa-2x"></fa-icon>
                        <div class="publications-title">Публікації</div>
                        <div class="publications-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nesciunt fugit at fugiat maiores iste modi veniam. Dignissimos reiciendis facere excepturi veniam tempora voluptatem ratione, distinctio perferendis, quia debitis quidem, culpa corporis officia accusantium eaque sunt maiores velit porro fugiat cupiditate sint neque exercitationem doloremque inventore!

            Delectus assumenda praesentium atque quidem minima dolor necessitatibus quas magni pariatur reiciendis, repellat deserunt soluta totam modi amet. Similique illum amet incidunt accusantium. Laboriosam necessitatibus consequuntur accusantium recusandae neque, ea, debitis eligendi dolor optio illum alias voluptatibus temporibus fugit, doloremque numquam quidem? Error temporibus labore ad molestias corrupti, corporis quidem veniam ducimus animi minima id esse odio molestiae officia tempore, quos commodi pariatur saepe ab eos ipsam nemo dolores. 

            Repellat mnis vero quis veritatis, laudantium aliquam adipisci laboriosam necessitatibus, tempore consectetur! Facilis consectetur veritatis fugiat praesentium nobis optio beatae, enim voluptatibus ullam debitis obcaecati nemo vel hic sunt nulla est error labore eius. In officiis nobis, fuga dolor possimus ratione commodi earum. Soluta aspernatur rem inventore alias vitae quibusdam sapiente hic. Aperiam, reiciendis accusamus. Eos distinctio voluptatem minus repudiandae.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
