* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrapper {
    min-height: calc(100vh - 160px);
    padding-top: 20px;
    padding-bottom: 20px;
    &.light-theme {
        background-color: #fff;
        color: #fff;
        .content {
            background: linear-gradient(0,  #D4D4D4 calc(61% + 5px), #002561 0);
            .user-info {
                .img-container {
                    border: 15px solid #fff;
                    background-color: #fff;
                }
                .contacts {
                    background-color: #fff;
                    color: black;
                }
            }
            .other-info {
                .side-menu {
                    background-color: #fff;
                    color: black;
                    .menu-subjects, .menu-interests {
                        fa-icon {
                            color: white;
                        }
                    }
                }
                .other-info-text-container {
                    .other-info-text {
                        .biography, .publications {
                            background-color: #fff;
                            color: black;
                            fa-icon {
                                color: #fff; 
                            }
                        }
                    }
                }
            }
        }
    }
    &.dark-theme {
        background-color: #21252B;
        color: #ABB2BF;
        .content {
            background: linear-gradient(0,  #3E4452 calc(61% + 5px), #002561 0);
            .user-info {
                .img-container {
                    border: 15px solid #282C34;
                    background-color: #282C34;
                }
                .contacts {
                    background-color: #282C34;
                }
            }
            .other-info {
                .side-menu {
                    background-color: #282C34;
                    .menu-subjects, .menu-interests {
                        fa-icon {
                            color: #ABB2BF;
                        }
                    }
                }
                .other-info-text-container {
                    .other-info-text {
                        .biography, .publications {
                            background-color: #282C34;
                            fa-icon {
                                color: #ABB2BF; 
                            }
                        }
                    }
                }
            }
        }
    }
    .content {
        margin: 0px 10% 0px 10%;
        padding: 50px;
        border-radius: 10px;
        .name {
            font-size: 48px;
        }
        .degree {
            font-size: 20px;
            padding: 15px 0 15px 0;
        }
        .user-info {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            .img-container {
                border-radius: 10px;
                .user-image {
                    width: 300px;
                    border-radius: 10px;
                }
            }
            .contacts {
                height: 100px;
                display: flex;
                flex-flow: row wrap;
                width: fit-content;
                padding: 5px 50px 5px 50px;
                border-radius: 0 10px 0 0;
                margin-bottom: 100px;
                gap: 40px;
                .phone-container, .email-container {
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .other-info {
            gap: 10px;
            top: 0px;
            .side-menu {
                width: 330px;
                border-radius: 10px;
                margin: 20px 0 20px 0;
                padding-bottom: 10px;
                position: relative;
                hr {
                    width: 90%;
                }
                .menu-subjects, .menu-interests {
                    fa-icon {
                        position: absolute;
                        background-color: #002561;
                        vertical-align: middle;
                        padding: 10px 10px;
                        border-radius: 10px 0 10px 0;
                    }
                }
                .menu-subjects {
                    .subjects-title {
                        margin-left: 30%;
                        margin-bottom: 30px;
                        padding-top: 10px;
                        font-weight: 900;
                        font-size: 24px;
                    }
                    fa-icon {
                        left: 0px;
                        top: 0px;
                    }
                }
                .menu-interests {
                    .interests-title {
                        margin-left: 15%;
                        margin-top: 0px;
                        margin-bottom: 0px;
                        font-weight: 900;
                        font-size: 24px;
                    }
                    fa-icon {
                        right: 0px;
                        bottom: 0px;
                    }
                }
                
                
            }
            .other-info-text-container {
                position: relative;
                bottom: 20px;
                width: calc((100% - 350px)/1);
                left: 345px;
                .other-info-text {
                    display: grid;
                    grid-auto-flow: column;
                    gap: 15px;
                    grid-auto-columns: 1fr;
                    position: absolute;
                    bottom: 35%;
                    .biography, .publications {
                        border-radius: 10px;
                        height: 445px;
                        padding: 10px;
                        overflow-y: auto;
                        .biography-title, .publications-title {
                            margin-left: 15%;
                            margin-top: -35px;
                            margin-bottom: 30px;
                            font-weight: 900;
                            font-size: 24px;
                        }
                        .biography-content, .publications-content {
                            margin-left: 3%;
                        }
                        fa-icon {
                            position: relative;
                            background-color: #002561;
                            vertical-align: middle;
                            padding: 10px 10px;
                            left: -10px;
                            top: -5px;
                            border-radius: 0 0 10px 0;
                        }
                    }
                }
            }
        }
    }
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}