.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    &.light-theme {
        background-color: #fff;
        color: #fff;
        .icons {
            .icon {
                color: #fff;
            }
        }
    }
    &.dark-theme {
        background-color: #282C34;
        color: #ABB2BF;
        .icons {
            .icon {
                color: #ABB2BF;
            }
        }
    }
    .name {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
    }
    .icons {
        display: flex;
        gap: 5px;
        .icon {
            padding: 5px;
            border-radius: 5px;
            &.iconBlue {
                background-color: #002561;
            }
            &.iconYellow {
                background-color: #F8B502;
            }
            &.iconRed {
                background-color: #DC3545;
            }
        }
    }
}