.wrapper {
    min-height: calc(100vh - 150px);
    padding-top: 30px;
    &.light-theme {
        background-color:  #fff;
        .content {
            box-shadow: 0 2px 5px 1px gray;
            background-color:  #D4D4D4;
            .content-heading {
                color: white;
            }
        }
    }
    &.dark-theme {
        background-color:  #323640;
        .content {
            box-shadow: 0 2px 5px 1px #3E4452;
            background-color:  #3E4452;
            .content-heading {
                color: #ABB2BF;
            }
        }
    }
    .content {
        border-radius: 10px;
        margin: 0px 10%;
        
        .content-heading {
            background-color: #002561;
            
            font-size: 48px;
            padding: 30px 0 30px 30px;
            border-radius: 10px 10px 0 0;
        }
        .content-content {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
            app-list {
                margin: 15px 15px 15px 0;
                &:first-child {
                    margin-left: 15px;
                }
            }
        }
    }
}