.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
    height: 50px;
    margin: 15px 0 30px 0;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px black;
    &.light-theme {
        background-color: #D4D4D4;
        color: #000;
    }
    &.dark-theme {
        background-color: #282C34;
        color: #ABB2BF;
    }
}