.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    app-header-menu {
        position: absolute;
    }
    &.light-theme {
        img {
            border: 2px solid #fff;
        }
        .userName {
            background-color: #fff;
            color: #000;
        }
    }
    &.dark-theme {
        img {
            border: 2px solid #282C34;
        }
        .userName {
            background-color: #282C34;
            color: #ABB2BF;
        }
    }
    img {
        width: 50px;
        border-radius: 50%;
        z-index: 1;
    }
    .userName {
        color: #000;
        border-radius: 0 10px 10px 0;
        height: 25px;
        padding: 5px 10px 0 15px;
        position: relative;
        left: -10px;
        z-index: 0;
    }
    app-header-menu {
        position: absolute;
        top: 30px;
        left: 30px;
    }
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }