// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lnu-hr-fe-primary: mat.define-palette(mat.$indigo-palette);
$lnu-hr-fe-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$lnu-hr-fe-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$lnu-hr-fe-theme: mat.define-light-theme(
    (
        color: (
            primary: $lnu-hr-fe-primary,
            accent: $lnu-hr-fe-accent,
            warn: $lnu-hr-fe-warn,
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($lnu-hr-fe-theme);

/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

body {
    --primary-color: #002561;
    --secondary-color: #f8b502;
    --red-color: #dc3545;
    --gray-color: #333333;

    --border-radius: 10px;
}

body.light {
    --primary-text-color: #ffffff;
    --secondary-text-color: #545454;
    --foreground-color: #ffffff;
    --foreground-2-color: #f1f1f1;
    --foreground-3-color: #d4d4d4;
    --background-color: #ffffff;
}

body.dark {
    --primary-text-color: #abb2bf;
    --secondary-text-color: #abb2bf;
    --foreground-color: #282c34;
    --foreground-2-color: #3e4452;
    --foreground-3-color: #3e4452;
    --background-color: #21252b;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app {
    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--secondary-text-color);
        border-radius: 100vw;
    }
}

.mat-mdc-dialog-surface {
    overflow: visible !important;
    background-color: transparent !important;
}
